/* :root {
    --light-brown: #E0CCBB;
    --dark-brown: #5b3b31;
  } */

@font-face {
font-family: "Staywork";
src: local("Staywork"),
    url("../../assets/fonts/staywork.ttf") format("truetype");
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #E0CCBB;
}

.video {
    border: 5px solid #5b3b31;
    border-radius: 50px;
    overflow: hidden;
    max-height: 489px;
    min-height: 489px;
    max-width: 650px;
    min-width: 650px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    max-width: 450px;
}

.statistic {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    min-width: 450px;
}

.label {
    font-size: 70px;
    color:#5b3b31;
}

.pace-label {
    font-size: 40px;
    color: #5b3b31;
}


.jar {
    position: relative; /* Ensure the text is positioned relative to the image */
    width: 100px; /* Set the width of the jar image */
    height: 100px; /* Set the height of the jar image */
    background-image: url('jar.png'); /* Use the jar image as the background */
    background-size: cover; /* Ensure the image covers the element */
    background-position: center; /* Center the image */
    text-align: center; /* Center the text */
    line-height: 100px; /* Vertically center the text */
    color: white; /* Text color */
    font-size: 85px; /* Font size for the text */
    font-weight: 200; /* Font weight for the text */
  }

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #5b3b31;
    height: 100px !important;
    width: 100px !important;
    font-size: 85px;
    font-weight: 200;
    color: white;
}

.transcript {
    font-size: 40px;
    color: #5b3b31;
    min-height: 135px;
    overflow: nowrap;
}